<h1>Welcome to GA Hub</h1>
<h2> Register</h2>
<form action ="/users/register" method = "POST">
  <input name = "email" placeholder = "email" /><br>
  <input name = "password" placeholder = "password" type = "password" /><br>
  <input name = "name" placeholder = "name" /><br>
  <input name = "hometown" placeholder = "hometown" /><br>
  <input name = "food" placeholder = "favorite food" /><br>
  <input name = "movie" placeholder = "favorite movie" /><br>
  <input name = "book" placeholder = "favorite book" /><br>
  <input name = "music" placeholder = "favoriteMusicGenre" /><br>
  <input name = "superPower" placeholder = "super power" /><br>
  <input name = "skills" placeholder = "programming skills" /><br>
  <button> Submit </button>
  <p> Already have an account? <a href ='/users/login'>Login</a></p>
<form>
